<%- include ('./partials/header-content') -%>
<main>
  <section>
    <h2>API Usage</h2>
    <p>To get the list of all of the quotes in the database, go to the route:</p>
    <pre>
      <code class="api-link">https://autumnchris-quotes-api.onrender.com/api/quotes</code>
      <button type="button" class="button copy-button api-quotes" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon far fa-copy"></span></button>
    </pre>
  </section>
</main>
